@import "colors.css";
* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono", monospace;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    min-height: 10px;
    background-color: rgba(20, 20, 20, 0);
    color: @wb_text;
}

/* LEFT */
.modules-left {
    background-color: @wb_panel_bg;
    border-radius: 10px;
    margin: 4px 0 2px 6px;
}

/* CENTER */
.modules-center {
    background-color: @wb_panel_bg;
    border-radius: 10px;
    margin: 4px 0 2px;
}

/* RIGHT */
.modules-right {
    background-color: @wb_panel_bg;
    border-radius: 10px;
    margin: 4px 6px 2px 0;
}

/* Module spacing */
#cpu,
#memory,
#custom-gpu,
#clock,
#pulseaudio,
#battery,
#custom-mpris-marquee,
#custom-power,
#network,
#workspaces,
#temperature {
    padding: 0 10px;
    margin: 0 2px;
}

/* Power */
#custom-power {
    color: @wb_text;
    font-size: 15px;
    margin-right: 10px;
}

/* MPRIS */
#custom-mpris-marquee {
    color: @wb_text;
    padding: 0 10px;
}

/* Clock */
#clock {
    color: @wb_text;
    font-weight: bold;
}

/* Temperature */
#temperature.critical {
    color: @wb_critical;
}

/* Tooltip */
tooltip {
    background-color: @wb_panel_bg; 
    color: @wb_text;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

tooltip label {
    color: @wb_text;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

/* Interactive hover effect */
#cpu,
#memory,
#custom-gpu,
#temperature,
#clock,
#pulseaudio,
#battery,
#network,
#custom-mpris-marquee {
    transition: font-size 0.15s ease;
}

#cpu:hover,
#memory:hover,
#custom-gpu:hover,
#temperature:hover,
#clock:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover,
#custom-mpris-marquee:hover {
    font-size: 15px;
}

#workspaces {
    margin: 0 8px;
    padding: 4px 2px;
    padding-left: 0;
    margin-left: 0;
}

#workspaces button {
    min-width: 10px;
    min-height: 10px;

    margin: 0 4px;
    padding: 0;

    border: none;
    border-radius: 5px;
    text-shadow: none;

    background: @wb_ws_idle;

    color: transparent;

    transition:
        min-width 0.25s ease,
        background 0.25s ease,
        box-shadow 0.25s ease;
}

#workspaces button label {
    color: transparent;
    font-size: 0;
}

#workspaces button.active {
    min-width: 32px;
    min-height: 10px;
    background: @wb_ws_active_glow; 
    border-radius: 5px;
    box-shadow: 0 0 8px @wb_ws_active_glow;
}

#workspaces button:hover {
    background: @wb_ws_hover; 
    box-shadow: 0 0 6px @wb_ws_idle;
}

#workspaces button.empty {
    background: @wb_ws_empty;
}

#workspaces button:not(.empty):not(.active) {
    background: @wb_ws_filled;
}

#workspaces button.urgent {
    background: @wb_ws_urgent; 
    box-shadow: 0 0 8px @wb_ws_urgent;
}

#network {
    color: @wb_text;
    transition: font-size 0.15s ease;
    padding: 0 10px;
    margin: 0 2px;
    font-size: 13px;
}
#pulseaudio {
    color: @wb_text;
    font-size: 13px;
    padding-right: 0;
    margin-right: 0;
}
#battery {
    color: @wb_text;
    font-size: 13px;
    padding-right: 0;
    margin-right: 0;
}
#battery.critical:not(.charging) {
    color: @wb_critical;
}
#cpu {
    color: @wb_text;
}
#custom-gpu {
    color: @wb_text;
}
#memory {
    color: @wb_text;
}

